<form method="POST" action="/analyseSentiment" enctype="multipart/form-data">
    <div>
        <label>
            Text document sentiment analyzer
            <br>
        </label>
        <label>
            Upload a text file to analyze the setiment of, 
            <br>
            
           

        </label>
       
    </div>
    <div>
        <input type="file" name="uploadedTextFile" />
    </div>
    <br>
    <div>
        <input type="submit" name="goToSentimentAnalysisFunction" value="Analyse Sentiment" />
    </div>
</form>

